h1 {
  font-weight: normal;
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 50px;  
  line-height: 100%;
  margin-left: 5%; 
  margin-right: 50%;
  text-align: left;
}


h2 {
  font-weight: lighter;
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 30px;
  line-height: 120%;
  margin-left: 5%;
  text-align: left;
}


h3 {
  font-weight: lighter;
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 25px;
  line-height: 100%;
  margin-left: 5%;
  text-align: left;
}


/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}


/*socials */
.fa {
  border: none;
  padding: 20px;
  color: silver;
  width: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 5%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

