body {
  background-color: #2f3742;
  color: #dfe0e4;
}

h1 {
  font-weight: lighter;
  color: white;
  font-family: 'Alex Brush', cursive;
  font-size: 65px;  
  line-height: 100%;
  margin-left: 5%; 
  text-align: left;
 } 
  

h2 {
  font-weight: lighter;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
  line-height: 120%;
  margin-left: 5%;
  text-align: left;
}


h3 {
  font-weight: lighter;
  font-family: 'Mulish', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 100%;
  margin-left: 5%;
  text-align: left;
}

p {
  font-weight: lighter;
  font-family: 'Mulish', sans-serif;
  color: white;
  font-size: 35px;
  line-height: 100%;
  margin-left: 5%;
  padding-right: 30%;
  text-align: left;
}

/* unvisited link */
a:link {
  color: #306EFF;
}

/* visited link */
a:visited {
  color: #306EFF;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: #306EFF;
}

/*socials */
.socialMediaLinks a {
    font-size: 20px;
    margin-left: 5px; 
    color: #000000;
    text-decoration: none;
}

/* round icons */
.socialMediaLinks a { 
    font-size: 20px;  
    margin-left: 5px; 
    margin: 0 10px 0 0; 
    color: #000000; 
    text-decoration: none; 
    background: #b7b6b6;
    padding: 15px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}

/* glowing text */
$r : 50px;  // glow radius
$o : 25px;  // glow offset
$d : 2s;    // duration
$chars : 6; // # of letters
$bg : #111; // background color

$c : cyan yellow tomato;

span {
	animation: glow $d ease-in-out both infinite;	

	@for $i from 1 through $chars {
		&:nth-child(#{$i}) {
			animation-delay: $i/$chars * -$d;
		}
	}
}

@mixin glow($c1, $c2, $c3) {
	text-shadow:
		0 0 $r/6 snow,
		0 (-$o) $r $c3,
		(-$o) $o $r $c2,
		$o $o $r $c3;
}

@keyframes glow {
	0%, 100% {
		@include glow(nth($c, 1), nth($c, 2), nth($c, 3));	
	}
	33% {
		@include glow(nth($c, 2), nth($c, 3), nth($c, 1));
	}
	66% {
		@include glow(nth($c, 3), nth($c, 1), nth($c, 2));
	}
}

