/* links */
a {
  color:white;
  text-decoration:none;
  position:relative;
}

/* unvisited link */
a:link {
  color: #44A9CC;
}

/* visited link */
a:visited {
  color: #44A9CC;
}

/* mouse over link */
a:hover {
  color: #EB563A;
}

/* selected link */
a:active {
  color: #44A9CC;
}

/* background */
body {
background-image: url("/image/rwjf_adobespark.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000000;
  background-position: right center;
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

/* title */
h1 {
  font-weight: lighter;
  color: white;
  font-family: 'WindSong', cursive;
  font-size: 75px;  
  line-height: 100%;
  margin-top: 3%;
  margin-bottom: 3%; 
  margin-left: 5%; 
  text-align: left;
} 

/* shimmer */
.shimmer {
  font-family: 'WindSong', cursive;
  color: white;
  font-size: 75px;  
  margin-top: 3%;
  margin-bottom: 3%; 
  margin-left: 5%; 
  text-align: left;
}
.shimmer {
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #686868;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}


/* body */
h2 {
  font-weight: lighter;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
  line-height: 120%;
  margin-left: 5%;
  text-align: left;
}

/* links */
h3 {
  font-weight: lighter;
  font-family: 'Mulish', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 100%;
  margin-left: 5%;
  text-align: left;
}

/* footer */
h4 {
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 100%;
  margin-top: 3%;
  margin-left: 5%;
}

/* bio */
p {
  font-weight: lighter;
  font-family: 'Mulish', sans-serif;
  color: white;
  font-size: 35px;
  line-height: 100%;
  margin-left: 5%;
  margin-top: 3%;
  padding-right: 36%;
  text-align: left;
}

/* socials */
/* wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.orcid span {
	background-color: #db5a3c;
}

/* icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-orcid {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-orcid {
	color: white;
}
