/* links */
a {
  color:white;
  text-decoration:none;
  position:relative;
}

/* unvisited link */
a:link {
  color: #44A9CC;
}

/* visited link */
a:visited {
  color: #44A9CC;
}

/* mouse over link */
a:hover {
  color: #EB563A;
}

/* selected link */
a:active {
  color: #44A9CC;
}

/* background */
body {
background-image: url("/image/rwjf_adobespark.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000000;
  background-position: right center;
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

/* title */
h1 {
  color: white;
  font-family: 'WindSong', cursive;
  font-size: 75px;  
  line-height: 0.7em;
  margin-top: 5%;
  margin-left: 7%; 
  text-align: center;
} 

/* header */
h2 {
  font-weight: lighter;
  font-family: 'Mulish', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 100%;
  margin-left: 7%;
  text-align: left;
}

/* body */
h3 {
  font-weight: lighter;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 23x;
  line-height: 115%;
  margin-left: 7%;
  margin-top: 3%;
  padding-right: 36%;
  text-align: left;
}

/* bio */
h4 {
  font-weight: lighter;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 30px;
  line-height: 100%;
  margin-left: 7%;
  margin-right: 10%;
  text-align: left;
}

/* footer */
footer {
  margin-left: 2%; 
  text-align: center;
}

/* socials */	
.social-menu {
	display: flex;
	list-style-type: none;
}
 
.social-menu i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin: 0.5em;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.fa-envelope {
	background:#008080
}

.fa-linkedin {
	background:#007bb6
}

.fa-twitter {
	background:#00aced
}

.fa-orcid {
	background:#adff2f
}

.fa-google-plus {
	background:#dd4b39
}
 
.social-menu i:hover {
	opacity: 0.5;
}
