/* links */
a {
  color:white;
  text-decoration:none;
  position:relative;
}

/* unvisited link */
a:link {
  color: #44A9CC;
}

/* visited link */
a:visited {
  color: #44A9CC;
}

/* mouse over link */
a:hover {
  color: #EB563A;
}

/* selected link */
a:active {
  color: #44A9CC;
}

/* prof pic */
.profile-pic {
  border-radius: 50%;
}


/* background */
html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
	
 font-family: 'Mulish', sans-serif;
}

.wrapper {
  background-color: lightpink;
  
  max-width: 75%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.left, .right {
  background-color: lightblue;
  
  margin: 5px;
  max-width: 75%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}

.profile-pic {
  border-radius: 50%;
}

.body {
  background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
}

/* footer */
html, footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;          
}

/* title */
h1 {
  color: white;
  font-family: 'WindSong', cursive;
  font-size: 75px;  
  line-height: 100%;
  margin-top: 5%;
  margin-left: 5%; 
  text-align: left;
} 

/* body */
p {
  font-weight: lighter;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
  line-height: 115%;
  margin-left: 5%;
  text-align: left;
}


/* footer */
h4 {
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 100%;
  margin-top: 3%;
  margin-left: 5%;
}


/* socials */	
.social-menu {
	display: flex;
	list-style-type: none;
}
 
.social-menu i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin: 0.5em;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.fa-linkedin {
	background:#007bb6
}

.fa-twitter {
	background:#00aced
}

.fa-orcid {
	background:#adff2f
}

.fa-google-plus {
	background:#dd4b39
}
 
.social-menu i:hover {
	opacity: 0.5;
}
