
/* links */
a {
  color:white;
  text-decoration:none;
  position:relative;
}

/* unvisited link */
a:link {
  color: #44A9CC;
}

/* visited link */
a:visited {
  color: #44A9CC;
}

/* mouse over link */
a:hover {
  color: #EB563A;
}

/* selected link */
a:active {
  color: #44A9CC;
}

body {
  margin:8%;
}

h1 {
  font-weight: lighter;
  font-family: 'Mulish', sans-serif;
  color: goldenrod;
  font-size: 32px;
  line-height: 100%;
  margin-left: 5%;
  margin-top: 3%;
  padding-right: 36%;
  text-align: left;
}

h2 {
  font-weight: lighter;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
  line-height: 150%;
  margin-left: 5%;
  text-align: left;
}
