
/* links */
a {
  color:white;
  text-decoration:none;
  position:relative;
}

/* unvisited link */
a:link {
  color: 8C001A;
}

/* visited link */
a:visited {
  color: 8C001A;
}

/* mouse over link */
a:hover {
  color: #44A9CC;
}

/* selected link */
a:active {
  color: 8C001A;
}


h1 {
  font-weight: lighter;
  font-family: 'Mulish', sans-serif;
  color: #EB563A;
  font-size: 42px;
  line-height: 100%;
  margin-left: 10%;
  margin-top: 3%;
}

h2 {
  font-weight: lighter;
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  line-height: 160%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}


h3 {
  font-weight: lighter;
  color: EB563A;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  margin-left: 10%;
}
