
/* links */
a {
  color:white;
  text-decoration:none;
  position:relative;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #44A9CC;
}

/* selected link */
a:active {
  color: black;
}


h1 {
  font-weight: lighter;
  font-family: 'Mulish', sans-serif;
  color: #EB563A;
  font-size: 42px;
  line-height: 100%;
  margin-left: 10%;
  margin-top: 3%;
  padding-right: 36%;
  text-align: left;
}

h2 {
  font-weight: lighter;
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  line-height: 160%;
  margin-left: 10%;
  text-align: left;
}


h3 {
  font-weight: lighter;
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  margin-left: 10%;
  text-align: left;
}

/* socials */	
.social-menu {
	display: flex;
	list-style-type: none;
}
 
.social-menu i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin: 0.5em;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.fa-google-plus {
	background:#dd4b39
}

.fa-orcid {
	background:#adff2f
}
 
.social-menu i:hover {
	opacity: 0.5;
}
